In [28]:
import pandas as pd

df = pd.read_excel("Loads 2024.xlsx", sheet_name="DATA")

df["start"] = pd.to_datetime(df["start"], errors="coerce")
df["end"] = pd.to_datetime(df["end"], errors="coerce")

df["Hours"] = (df["end"] - df["start"]).dt.total_seconds() / 3600
df["Days"] = (df["end"] - df["start"]).dt.total_seconds() / (3600 * 24)
df["Miles per Hour"] = df["Miles"] / df["Hours"]

print("Таблиця з розрахунками тривалості рейсів і середньої швидкості доставки (в милях за годину)")
df[["start", "end", "From City", "To City", "Miles", "Hours", "Days", "Miles per Hour"]].head(100000)

Таблиця з розрахунками тривалості доставки та швидкості руху:

,start,end,From City,To City,Miles,Hours,Days,Miles per Hour
0,2024-01-02,2024-01-08,GURNEE,SPARKS,1930.0,144.0,6.0,13.402778
1,2024-01-02,2024-01-08,RANCHO DOMINGUEZ,DEKALB,2114.0,144.0,6.0,14.680556
2,2024-01-02,2024-01-08,OLD FORT,MURFREESBORO,503.0,144.0,6.0,3.493056
3,2024-01-02,2024-01-08,AURORA,CENTER VALLEY,772.0,144.0,6.0,5.361111
4,2024-01-02,2024-01-08,EDMOND,JANESVILLE,812.0,144.0,6.0,5.638889
...,...,...,...,...,...,...,...,...
9091,2024-12-25,2024-12-31,COLD SPRING,CHICAGO,485.0,144.0,6.0,3.368056
9092,2024-12-25,2024-12-31,MODESTO,CHICAGO HEIGHT,2116.0,144.0,6.0,14.694444
9093,2024-12-25,2024-12-31,SALINA,CLACKAMAS,1664.0,144.0,6.0,11.555556
9094,2024-12-25,2024-12-31,PERHAM,TEMPLE,1380.0,144.0,6.0,9.583333
9095,2024-12-25,2024-12-31,ESCALON,MIRA LOMA,387.0,144.0,6.0,2.687500