In [7]:
import pandas as pd

# Завантаження Excel-файлу
df = pd.read_excel("Loads 2024.xlsx", sheet_name="DATA")

# Попереднє очищення

df["Miles"] = pd.to_numeric(df["Miles"], errors="coerce")
df["Rate"] = pd.to_numeric(df["Rate"], errors="coerce")
df["RPM"] = pd.to_numeric(df["RPM"], errors="coerce")

# Перевіримо, що все ок
df.head()

,start,end,Type,Load #,Type of load,Status,RC,Broker,From City,From State,To City,To State,Occupancy,Pallets,Material,Temperature,Type of transport,Rate,Miles,RPM
0,1/2/2024,1/8/2024,CONS,T38701,DRY,BILLED,52288462,ECHO,GURNEE,IL,SPARKS,NV,TL,22,Huel (Foodstuffs),DRY,ROAD,4000.0,1930.0,2.0725
1,1/2/2024,1/8/2024,CANCEL,T38702,DRY,AVAILABLE,28329665,COYOTE,RANCHO DOMINGUEZ,CA,DEKALB,IL,TL,25,NaN,DRY,ROAD,3400.0,2114.0,1.6083
2,1/2/2024,1/8/2024,OTR,T38703,DRY,BILLED,9114765,PAM TRANS,OLD FORT,OH,MURFREESBORO,TN,TL,NaN,FOOD,DRY,ROAD,1600.0,503.0,3.1809
3,1/2/2024,1/8/2024,OTR,T38704,TC,BILLED,10220974,SURGE TRANS,AURORA,IL,CENTER VALLEY,PA,TL,NaN,GROCERY PRODUCTS,RPB,ROAD,2800.0,772.0,3.6269
4,1/2/2024,1/8/2024,OTR,T38705,TC,BILLED,11857671,TTC,EDMOND,OK,JANESVILLE,WI,TL,NaN,liquid eggs,38-40F,ROAD,2400.0,812.0,2.9557

In [16]:
df.iloc[137]

start                  1/2/2024
end                    1/8/2024
Type                      LOCAL
Load #                   T38896
Type of load                DRY
Status                   BILLED
RC                      1023315
Broker                MDX GROUP
From City            WASHINGTON
From State                   MO
To City                LOCKPORT
To State                     IL
Occupancy                    TL
Pallets                     NaN
Material                    NaN
Temperature                 DRY
Type of transport          ROAD
Rate                      900.0
Miles                       NaN
RPM                         0.0
Name: 137, dtype: object

In [14]:
print(df.index)

RangeIndex(start=0, stop=9096, step=1)

In [17]:
print(df["Miles"].isna().sum())

21